body {
  margin: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.site-navigation {
  list-style: none;

  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;

  position: relative;
}

.site-navigation-link {
  position: relative;
  top: 12px;
  left: -31px;


  font-weight: 700;
  line-height: 18px;

  border-radius: 30px;

  padding: 7px 13px 8px 14px;
}

.site-navigation-link span {
  position: relative;
}

.site-navigation-link span::after {
  content: "";

  display: block;
  position: absolute;
  bottom: -1px;
  right: 0;
  left: 0;
  margin: auto;

  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  background-color: #f7f6f3;

  color: #333333;

  border-radius: 30px;
}

.site-navigation-link:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;

  color: #323232;
  border-bottom: none;

  border-radius: 30px;
}

.site-navigation-link.active,
.site-navigation-link.active:hover,
.site-navigation-link.active:focus,
.site-navigation-link.active:active {
  background-color: #d07058;
  color: #ffffff;

  box-shadow: none;

  border-bottom: none;

  border-radius: 30px;
}

.catalog-pop-up {
  list-style: none;

  background-color: #f8f7f4;

  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.login .pop-up {
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.search-link,
.login-link,
.basket-link {
  background-color: rgba(255, 255, 255, 0.2);
}

.login-form-links {
  font-size: 13px;
  line-height: 24px;
  color: #323232;

  border-bottom: solid 1px rgba(50, 50, 50, 0.3);
}

.login-form-links:hover,
.login-form-links:focus,
.login-form-links:active {
  color: #e84d37;

  border-bottom: solid 1px rgba(232, 77, 55, 0.3);
}

.svg-link:hover svg,
.svg-link:focus svg,
.svg-link:active svg {
  fill: #000000;
}


.small-button {
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}

.pop-up-link {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;

  color: #323232;

  display: block;
  padding: 7px 21px 7px 20px;
}

.melorin {
  padding-bottom: 14px;
}

.new {
  font-weight: 700;
  padding-bottom: 15px;
  padding-top: 12px;
}

.pop-up-link:hover,
.pop-up-link:focus {
  background-color: #fbded7;
}

.pop-up-link:active {
  background-color: #f6b5a5;
}

.pop-up-link.active {
  background-color: #d07058;

  color: #ffffff;
}

.login-link,
.basket-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.login-link:hover,
.login-link:focus,
.search-link:hover,
.search-link:focus {
  background-color: #f8f7f4;

  color: #323232;
}

.login-link:active {
  background-color: #f8f7f4;

  color: #323232;
}

.working-hours {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 5px;
}

.tel-header {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;

  text-decoration: none;
}

.visiually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.promo-item h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  text-align: left;
}

.promo-item p {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
}

.main-button {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;

  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.give-me-two {
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.give-me-two:hover,
.give-me-two:focus {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}

.give-me-two:active {
  color: #fceeec;

  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);

}

.main-button:hover,
.main-button:focus,
.small-button:hover,
.small-button:focus {
  color: #fefefe;

  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}

.main-button:active,
.small-button:active {
  color: #fceeec;

  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
}

.ice-cream-list {
  list-style: none;

  text-decoration: none;
}

.ice-cream-list a {
  font-weight: 500;
  text-align: center;

  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.cost {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.catalog-weight {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

.features {
  background-image: url("../img/features-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;

  color: #323232;
  text-align: left;
}

.features h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features-list {
  list-style: none;
}

.features-list li:first-child::before {
  background-image: url(../img/ice-cream.svg);
  background-repeat: no-repeat;
}

.blog {
  color: #323232;
  text-align: left;

  background: url("../img/blog-background.jpg") no-repeat 0 0;
  background-size: 100% 100%;
}

.blog h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.blog a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.blog a:hover,
.blog a:focus,
.blog a:active {
  color: #e84d37;
}

.email {
  color: #5a5a5a;
  text-align: left;

  background: url("../img/email-background.svg") no-repeat 0 0;
}

.email-background {
  background-color: #f8f7f4;
}

.contacts {
  background-color: #ffffff;

  color: #323232;
}

.contacts .office,
.contacts .call {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.contacts .adress {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.contacts .telephone {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  color: #323232;
}

.contacts-working-hours {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}

.feedback-button {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.social-networks,
.site-links {
  list-style: none;
}

.site-links a {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

.footer-navigation a:focus,
.footer-navigation a:hover,
.footer-navigation a:active {
  color: #ffbc9e;

  border-bottom: solid 1px rgba(255, 188, 158, 0.3);
}

.logo img {
  width: 108px;
  height: 39px;
}

.copyright {
  font-size: 12px;
  line-height: 18px;
  text-align: left;

  color: #fefefe;
}

.copyright a {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.copyright a:focus,
.copyright a:hover,
.copyright a:active {
  color: #ffbc9e;

  border-bottom: solid 1px rgba(255, 188, 158, 0.3);
}

.breadcrumb a {
  font-size: 14px;
  line-height: 16px;

  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.breadcrumb a:hover,
.breadcrumb a:focus,
.breadcrumb a:active {
  color: #ffbc9e;

  border-bottom: solid 1px rgba(255, 188, 158, 0.3);
}

.basket-pop-up {
  background-color: #f8f7f4;
}

.basket-ice-cream {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.basket-cost {
  color: #999999;
}

.basket-total {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #323232;
}

.pageing li {
  list-style: none;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.pageing .active,
.pageing .active:focus,
.pageing .active:hover {
  color: #323232;

  background-color: #ffffff;
}

.pageing li a:hover,
.pageing li a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pageing li a:active {
  color: #323232;

  background-color: #ffffff;
}

.container {
  width: 1146px;
  margin: 0 auto;

  outline: 1px solid red;
}

.container-promo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.promo-item,
.subscribe-item {
  width: 560px;

  outline: 1px solid blue;
}

.ice-cream-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {
  width: 267px;

  outline: 1px solid green;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list li:first-child,
.features-list li:nth-child(3) {
  width: 476px;
  outline: solid 1px brown;
}

.features-list li:nth-child(2n) {
  width: 470px;
  outline: solid 1px brown;
}

.container-subscribe {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts {
  display: flex;
  flex-wrap: wrap;

  width: 302px;
}

.pop-up {
  display: none;
}

.main-header {
  display: flex;
  flex-wrap: wrap;

  outline: 1px solid black;
  margin: 0;
}

.logo-item {
  width: 154px;
}

.header-item {
  /*width: 250px;*/
  display: flex;
  flex-wrap: wrap;
}

.main-navigation {
  display: flex;
  flex-grow: 1;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
}

.social-networks {
  width: 185px;

  display: flex;
  flex-wrap: wrap;
}

.site-links {
  display: flex;
  flex-wrap: wrap;
}

.footer-navigation {
  flex-grow: 1;
}

.copyright-item {
  width: 189px;
}

.breadcrumb {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.pageing {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.main-header-logo {
  position: absolute;
  margin-top: 9px;
  margin-right: 24px;
}

.catalog-pop-up {
  display: flex;
  flex-wrap: wrap;

  position: absolute;
  top: 43px;
  left: 3px;

  width: 143px;
  border-radius: 5px;
  padding: 0;

  z-index: 1;
}

.catalog-pop-up li {
  width: 100%;
}


.new::after {
  content: "";

  display: block;
  position: absolute;
  top: 38px;
  left: 6px;
  width: 128px;
  height: 1px;
  background-color: rgba(50, 50, 50, 0.2);
}

.header-text {
  width: 100%;
  text-align: right;

  position: relative;
  right: 0px;
  top: 26px;
}

.right-nav-link {
  display: flex;
  align-items: center;
  
  position: relative;
  right: -167px;
  top: 23px;


  padding: 6px 15px;

  border-radius: 30px;

  font-size: 14px;
  line-height: 16px;
  text-align: right;
  font-weight: 500;
}


.search-link {
  padding: 6px;
  margin-right: 10px;

  border-radius: 50%;
}

.login-link {
  margin-right: 9px;
}

.login-link svg {
  padding-right: 7px;
}

.basket-link {
  padding-right: 17px;
}

.basket-link svg {
  padding-right: 8px;
}
